.center-text {
    text-align: center;
}

.jumbotron {
    background-image: url("../img/pizza.png");
}



.jumbotron h1 {
    font-size: 50px;
    background-color: rgba(211, 211, 211, 0.5);
}

@media screen and (max-width: 768px) {
    .jumbotron {
        display: none;
    }
}

.floatleft {
    float: left;
}

.bg-match {
    background-color: #DDEDF6;
    color: #789CB2;
}