@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Kumar+One+Outline);

.fancy-header {
    color: purple;
    text-align: center;
    font-family: 'Kumar One Outline', cursive;
}

h1 {
    color: mediumseagreen;
    text-decoration: underline;
}

body {
    background-image: url(../img/leaves.png);
    font-family: 'Libre Baskerville', serif;
}

ul {
    list-style: square;
}