.fancy-header {
    color: purple;
    text-align: center;
}

h1 {
    color: mediumseagreen;
    text-decoration: underline;
}

body {
    background-image: url(../img/leaves.png);
}

ul {
    list-style: square;
}